.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.avatar {
  width: 400px;
  height: 400px;
  margin-bottom: 1rem;
}
.selected {
  border: 2px solid red;
}
.image {
  width: 30%;
  /* align-items: center; */
  /* max-height: 100px; */
}
