.root {
  max-width: 600px;
  margin: auto;
}

.avatar {
  width: 350px;
  height: 350px;
}

.selected {
  border: 2px solid red;
}

.image {
  width: 100px;
  height: 100px;
  cursor: pointer;
}

.textField {
  width: 100%;
}
